<section id="about">

  <div class="row">

    <div class="three columns">

      <img class="profile-pic" src="assets/images/profilepic.jpg" alt=""/>

    </div>

    <div class="nine columns main-col">

      <h2>About Me</h2>

      <p>I am de back-end developer who wnat to learn more and more. I make also some front-end stuff with node. <br/>
        I am a person who likes to discover throughout my travels the rest of the world. My different trips have taken me all over Europe but also in North and South America. The next step is asia.<br/>
      </p>

      <div class="row">

        <div class="columns contact-details">

          <h2>Contact Details</h2>
          <p class="address">
            <span>Fabien Brunet</span><br>
            <span>recrute@fabien-brunet.fr</span><br>
            <a href="http://fabien-brunet.fr">http://fabien-brunet.fr</a>
          </p>

        </div>

        <div class="columns download">
          <p>
            <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
          </p>
        </div>

      </div> <!-- end row -->

    </div> <!-- end .main-col -->

  </div>

</section> <!-- About Section End-->
