<section id="study">
<!-- Education
  ----------------------------------------------- -->
  <div class="row education">

    <div class="three columns header-col">
      <h1><span>Education</span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">

          <h3>University Paris  - Pierre et Marie Curie</h3>
          <p class="info">Licence of Developement Application New Technologies <span>&bull;</span> <em class="date">September 2011</em></p>

          <p>
            New technology of internet, UML, network, developement  Java, dévelopement web (J2ee), deploy coopératif,
            methodology of projects, english.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>School of Cool Designers</h3>
          <p class="info">B.A. Degree in Graphic Design <span>&bull;</span> <em class="date">March 2003</em></p>

          <p>
            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
            nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
            ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
          </p>

        </div>

      </div> <!-- item end -->

    </div> <!-- main-col end -->

  </div> <!-- End Education -->
</section>
