<!-- Skills
  ----------------------------------------------- -->
<section id="skill">
  <div class="row skill">

    <div class="three columns header-col">
      <h1><span>Skills</span></h1>
    </div>

    <div class="nine columns main-col">

      <p>
        What i prefer in my works
      </p>

      <div class="bars">

        <ul class="skills">
          <li><span class="bar-expand java"></span><em>Java</em></li>
          <li><span class="bar-expand angular"></span><em>Angular 1 and 2</em></li>
          <li><span class="bar-expand angular"></span><em>Typescript</em></li>
          <li><span class="bar-expand css"></span><em>SASS</em></li>
          <li><span class="bar-expand html5"></span><em>HTML5</em></li>
          <li><span class="bar-expand scrum"></span><em>Scrum</em></li>
        </ul>

      </div><!-- end skill-bars -->

    </div> <!-- main-col end -->

  </div> <!-- End skills -->
</section>
