<!-- Resume Section
================================================== -->
<section id="resume">


  <!-- Work
  ----------------------------------------------- -->
  <div class="row resume">

    <div class="three columns header-col">
      <h1><span>Work</span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">

          <h3>Allianz with Valtech_</h3>
          <p class="info">Developper confirmed FullStack Java/JS <span>&bull;</span> <em class="date">April 2015 - Present</em></p>

          <p>
            Construction of the Angular base for Allianz's new quotation route. Implementation of Angularjs and Angular.<br>
            Installation and maintenance of J2ee web applications for Allianz<br>
            Preparation of development planning, web application development and recipe, delivery process with Jenkins. Project migration manager from J2ee to maven.<br>
            Development of the application in corrective and evolutive management, with Angularjs, Spring, NodeJs, Websphere 8, Tomcat (6-7), ESB, SOAP technologies.<br>
            SCRUM methodology.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>Allianz with Aubay</h3>
          <p class="info">Developper Java <span>&bull;</span> <em class="date">October 2014 - April 2015</em></p>

          <p>
            Implementation of J2ee web applications for Allianz.<br>
            Preparation of development planning, web application development and recipe, delivery process with Jenkins. Project migration manager from J2ee to maven.<br>
            Development of the application in corrective and evolutive management, with Struts, Spring, Websphere 8, Tomcat (6-7), ESB, SOAP technologies.<br>
            SCRUM methodology and cycle in V.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>BNP Paribas with Aubay</h3>
          <p class="info">Developper Java <span>&bull;</span> <em class="date">November 2013 - September 2014</em></p>

          <p>
            For the project management (MOE): proposal of a development schedule (macro costing), implementation of a design file for evolutions, updating of the data model, development and recipe of web applications, delivery process with Jenkins and Ant. Application development in the form of TMA corrective and scalable, with Struts (1 and 2), Sweetdev, Websphere 8, Jdbc with Oracle database.<br>
            SCRUM methodology.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>OCP by S.E.NT.</h3>
          <p class="info">Developper Java <span>&bull;</span> <em class="date">July 2010 - September 2012</em></p>

          <p>
            Creation of J2ee applications deployed under Geronimo, TomCat and GlassFish. Creation of scalable PHP sites with link to the database. Implementation of several WordPress blogs and online shops with Prestashop.
          </p>

        </div>

      </div> <!-- item end -->

    </div> <!-- main-col end -->

  </div> <!-- End Work -->
</section>
