<!-- Resume Section
================================================== -->
<section id="resume">


  <!-- Work
  ----------------------------------------------- -->
  <div class="row resume">

    <div class="three columns header-col">
      <h1><span>Work</span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">

          <h3>Allianz with Valtech_</h3>
          <p class="info">Developper confirmed FullStack Java/JS <span>&bull;</span> <em class="date">April 2015 - Present</em></p>

          <p>
            Mise en place d&apos;applications web J2ee pour Allianz. <br >
            Pr&eacute;paration de planning de d&eacute;veloppement, d&eacute;veloppement et recette des applications web, processus de livraison avec Jenkins. Responsable de migration de projet J2ee vers maven.<br>
            D&eacute;veloppement de l'application en R&eacute;gie corrective et &eacute;volutive, avec les technologies Angularjs, Spring, NodeJs, Websphere 8, Tomcat (6-7), ESB, SOAP.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>Allianz with Aubay</h3>
          <p class="info">Developper Java <span>&bull;</span> <em class="date">October 2014 - April 2015</em></p>

          <p>
            Mise en place d&apos;applications web J2ee pour Allianz. <br >
            Pr&eacute;paration de planning de d&eacute;veloppement, d&eacute;veloppement et recette des applications web, processus de livraison avec Jenkins. Responsable de migration de projet J2ee vers maven.<br>
            D&eacute;veloppement de l'application en R&eacute;gie corrective et &eacute;volutive, avec les technologies Struts, Spring, Websphere 8, Tomcat (6-7), ESB, SOAP.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>BNP Paribas with Aubay</h3>
          <p class="info">Developper Java <span>&bull;</span> <em class="date">November 2013 - September 2014</em></p>

          <p>
            Mise en place d&apos;applications web J2ee pour Allianz. <br >
            Pr&eacute;paration de planning de d&eacute;veloppement, d&eacute;veloppement et recette des applications web, processus de livraison avec Jenkins. Responsable de migration de projet J2ee vers maven.<br>
            D&eacute;veloppement de l'application en R&eacute;gie corrective et &eacute;volutive, avec les technologies Struts, Spring, Websphere 8, Tomcat (6-7), ESB, SOAP.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>OCP by S.E.NT.</h3>
          <p class="info">Developper Java <span>&bull;</span> <em class="date">July 2010 - September 2012</em></p>

          <p>
            Cr&eacute;ation d'applications J2ee d&eacute;ploy&eacute;es sous Geronimo, TomCat et GlassFish. Cr&eacute;ation de sites modulable en PHP avec liaison &agrave; la base de donn&eacute;es. Mise en place de plusieurs blogs WordPress et de boutiques en ligne avec Prestashop.
          </p>

        </div>

      </div> <!-- item end -->

    </div> <!-- main-col end -->

  </div> <!-- End Work -->
</section>
