<!-- Contact Section
================================================== -->
<section id="contact">

  <div class="row">
      <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Contact me</h2>
        </div>
        <div class="panel-body" style="text-align: left">
          Pour me contacter merci d'envoyer un email à <b>recrute@fabien-brunet.fr</b>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Contact Section End-->
